[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = { version = "==5.5.3", extras = ["redis"] }
django = "==4.2.16"
django-cors-headers = "~=4.6.0"
djangorestframework = "~=3.15.2"
djangorestframework-simplejwt = { version = "~=5.3.1", extras = ["crypto"] }
httpx = "~=0.28.1"
psycopg = { version = "*", extras = ["binary"] }
requests = ">2.0.0"
redis = {extras = ["hiredis"], version = "*"}
drf-yasg = "~=1.21.11"


[dev-packages]
black = ">24.0.0"
django-stubs = "~=5.1.0"
isort = ">5.13.0"
ruff = ">0.8.0"
pytest = "~=8.4.2"
pytest-django = "~=4.11.1"
pytest-mock = "~=3.15.1"

[requires]
python_version = "3.12"
